USE [OnlineBookStore_DoAn]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaGH] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[TongTien] [decimal](10, 2) NOT NULL,
	[TrangThaiDH] [nvarchar](50) NOT NULL,
	[DiaChiGiaoHang] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaND] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](255) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[GiaTriGiam] [decimal](5, 2) NOT NULL,
	[LoaiApDung] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[DienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MaXacThuc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](150) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[TacGia] [nvarchar](100) NOT NULL,
	[MaTL] [int] NOT NULL,
	[MaNXB] [int] NOT NULL,
	[GiaBan] [decimal](10, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/1/2026 11:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([MaAdmin], [TenDangNhap], [MatKhau], [HoTen]) VALUES (1, N'admin_chinh', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Hồ Quốc Tạo')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (1001, 1, 1, CAST(98000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (1001, 2, 2, CAST(125500.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSach], [SoLuong], [DonGia]) VALUES (1002, 3, 1, CAST(150000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ChiTietGioHang] ([MaGH], [MaSach], [SoLuong]) VALUES (201, 1, 3)
INSERT [dbo].[ChiTietGioHang] ([MaGH], [MaSach], [SoLuong]) VALUES (201, 4, 1)
INSERT [dbo].[ChiTietGioHang] ([MaGH], [MaSach], [SoLuong]) VALUES (203, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [MaND], [NgayDatHang], [TongTien], [TrangThaiDH], [DiaChiGiaoHang]) VALUES (1001, 101, CAST(N'2025-11-27T00:26:29.763' AS DateTime), CAST(373500.00 AS Decimal(10, 2)), N'Đã giao thành công', N'123 Đường 3/2, Q. Ninh Kiều, Cần Thơ')
INSERT [dbo].[DonHang] ([MaDH], [MaND], [NgayDatHang], [TongTien], [TrangThaiDH], [DiaChiGiaoHang]) VALUES (1002, 101, CAST(N'2025-11-22T00:26:29.763' AS DateTime), CAST(150000.00 AS Decimal(10, 2)), N'Đang giao hàng', N'123 Đường 3/2, Q. Ninh Kiều, Cần Thơ')
INSERT [dbo].[DonHang] ([MaDH], [MaND], [NgayDatHang], [TongTien], [TrangThaiDH], [DiaChiGiaoHang]) VALUES (1003, 103, CAST(N'2025-11-29T22:37:01.620' AS DateTime), CAST(588000.00 AS Decimal(10, 2)), N'Đang giao hàng', N'Kien Giang')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaND], [NgayTao]) VALUES (201, 102, CAST(N'2025-11-27T00:26:29.780' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaND], [NgayTao]) VALUES (203, 103, CAST(N'2025-11-29T21:15:43.730' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaND], [NgayTao]) VALUES (204, 104, CAST(N'2025-12-07T00:33:07.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [GiaTriGiam], [LoaiApDung]) VALUES (501, N'Giảm 10% cho tất cả đơn hàng', CAST(N'2025-11-01' AS Date), CAST(N'2025-11-30' AS Date), CAST(0.10 AS Decimal(5, 2)), N'Toàn bộ')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBatDau], [NgayKetThuc], [GiaTriGiam], [LoaiApDung]) VALUES (502, N'Giảm 20% cho sách Tiểu thuyết', CAST(N'2025-11-20' AS Date), CAST(N'2025-12-05' AS Date), CAST(0.20 AS Decimal(5, 2)), N'TheLoai')
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [MatKhau], [HoTen], [Email], [DienThoai], [DiaChi], [MaXacThuc]) VALUES (101, N'khachhang1', N'pass123', N'Nguyễn Văn A', N'khachhang1@gmail.com', N'0901234567', N'123 Đường 3/2, Q. Ninh Kiều, Cần Thơ', NULL)
INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [MatKhau], [HoTen], [Email], [DienThoai], [DiaChi], [MaXacThuc]) VALUES (102, N'khachhang2', N'pass123', N'Trần Thị B', N'khachhang2@gmail.com', N'0912345678', N'456 Đường CMT8, Q. Cái Răng, Cần Thơ', NULL)
INSERT [dbo].[NguoiDung] ([MaND], [TenDangNhap], [MatKhau], [HoTen], [Email], [DienThoai], [DiaChi], [MaXacThuc]) VALUES (103, N'Admin', N'7676aaafb027c825bd9abab78b234070e702752f625b752e55e55b48e607e358', N'Quoc Tao', N'quoctaoh@gmail.com', NULL, N'Kien Giang', NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (1, N'Nhà Xuất Bản Trẻ', N'TP. Hồ Chí Minh', N'02838227449')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (2, N'Nhà Xuất Bản Kim Đồng', N'Hà Nội', N'02439434730')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [DienThoai]) VALUES (3, N'Nhà Xuất Bản Lao Động', N'Hà Nội', N'02437345524')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [MaTL], [MaNXB], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (1, N'Nhà Giả Kim', N'Paulo Coelho', 1, 1, CAST(98000.00 AS Decimal(10, 2)), 38, N'Một câu chuyện truyền cảm hứng về việc theo đuổi ước mơ.', N'/images/NhaGiaKim.jpg')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [MaTL], [MaNXB], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (2, N'Đắc Nhân Tâm', N'Dale Carnegie', 5, 3, CAST(125500.00 AS Decimal(10, 2)), 73, N'Nghệ thuật giao tiếp và đối nhân xử thế.', N'/images/DacNhanTam.jpg')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [MaTL], [MaNXB], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh]) VALUES (3, N'Lược Sử Thời Gian', N'Stephen Hawking', 2, 3, CAST(150000.00 AS Decimal(10, 2)), 29, N'Tác phẩm khoa học nổi tiếng về vũ trụ và thời gian.', N'/images/LuocSuThoiGian.jpg')
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTheLoai]) VALUES (2, N'Khoa học - Công nghệ')
INSERT [dbo].[TheLoai] ([MaTL], [TenTheLoai]) VALUES (6, N'Kinh Dị')
INSERT [dbo].[TheLoai] ([MaTL], [TenTheLoai]) VALUES (3, N'Kinh tế - Khởi nghiệp')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__55F68FC059D0AB12]    Script Date: 4/1/2026 11:37:26 AM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GioHang__2725D725C790624B]    Script Date: 4/1/2026 11:37:26 AM ******/
ALTER TABLE [dbo].[GioHang] ADD UNIQUE NONCLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC010ED0780]    Script Date: 4/1/2026 11:37:26 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534BC7A2DC4]    Script Date: 4/1/2026 11:37:26 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaXuatB__CCE3868DEA18C7E4]    Script Date: 4/1/2026 11:37:26 AM ******/
ALTER TABLE [dbo].[NhaXuatBan] ADD UNIQUE NONCLUSTERED 
(
	[TenNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TheLoai__327F958FEA904F73]    Script Date: 4/1/2026 11:37:26 AM ******/
ALTER TABLE [dbo].[TheLoai] ADD UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaGH])
REFERENCES [dbo].[GioHang] ([MaGH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([GiaTriGiam]>(0) AND [GiaTriGiam]<=(1)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([GiaBan]>(0)))
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
